<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Rita London - Portfolio</title>
</head>
<body>

    <header class="header1">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav_logo">Rita London</a>
            </div>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item"><a href="#home" class="nav_link active">Home</a></li>
                    <li class="nav_item"><a href="#about" class="nav_link">About</a></li>
                    <li class="nav_item"><a href="#skills" class="nav_link">Skills</a></li>
                    <li class="nav_item"><a href="#portfolio" class="nav_link">Portfolio</a></li>
                    <li class="nav_item"><a href="#contact" class="nav_link">Contact</a></li>
                </ul>
            </div>
            <div class="nav_toggle" id="nav-toggle">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
    </header>
    
    <main role="main" class="main">
        {% block content %} {% endblock %}
    </main>

    <footer class="footer section">
        <div class="footer_container bd-grid">
            <div class="footer_data">
                <h2 class="footer_title">RITA LONDON</h2>
                <p class="footer_text">I enjoy reading, listening to music and traveling.</p>
            </div>

            <div class="footer_data">
                <h2 class="footer_title">EXPLORE</h2>
                <ul>
                    <li><a href="#home" class="footer_link">Home</a></li>
                    <li><a href="#about" class="footer_link">About</a></li>
                    <li><a href="#skills" class="footer_link">Skills</a></li>
                    <li><a href="#portfolio" class="footer_link">Portfolio</a></li>
                    <li><a href="#contact" class="footer_link">Contact</a></li>
                </ul>
            </div>
            <div class="footer_data">
                <h2 class="footer_title">FOLLOW</h2>
                <a href="www.linkedin.com/in/rita-london-840361147#" class="footer_social"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/augustineritalondon" class="footer_social"><i class="bx bxl-github"></i></a>
                <!-- <a href="#" class="footer_social"><i class="bx bxl-dribbble"></i></a> -->
            </div>
        </div>
    </footer>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script>
        $(document).ready(function(){
            $(".name, .position, .small-intro").lettering()

            // intro
            anime({
                targets: '.small-intro span',
                opacity: 1,
                duration: 1000,
                easing: 'easeInSine',
                delay: anime.stagger(50, {start: 3000})
            })
        })
    </script>
</body>
</html>