{% extends 'index.html' %}
{% block content %}
<!-- home section -->
<section class="home" id="home"> 
    <div class="home_container bd-grid">
        <h1 class="home_title"><span>HE</span><br>LLO.</h1>
        
        <div class="home_scroll">
            <a href="#about" class="home_scroll-link"><i class="bx bx-up-arrow-alt"></i>scroll down</a>
        </div>
        
        <p class="small-intro">My name is Augustine Rita London, I am Web Developer and Graphic Designer.</p>
        <img src="../static/images/home.png" class="home_img" alt="">
    </div>
</section>

<!-- about section -->
<section class="about section" id="about">
    <h2 class="section-title">About</h2>

    <div class="about_container bd-grid">
        <div class="about_img">
            <img src="../static/images/home.png" alt="">
        </div>

        <div>
            <h2 class="about_subtitle">Rita London</h2>
            <span class="about_profession">web/Graphic Designer</span>
            <p class="about_text">I am experienced in Frontend Web Development using Html, Css, Javascript, Python's flask, Basic knowledge of Backend Development using Node Js and Vue and graphic designing using the adobe suite with well developed and successful leadership style acquired in education. I am creative, responsible and a team player.</p>

            <div class="about_social">
                <a href="www.linkedin.com/in/rita-london-840361147#" class="about_social-icon"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/augustineritalondon" class="about_social-icon"><i class="bx bxl-github"></i></a>
                <!-- <a href="#" class="about_social-icon"><i class="bx bxl-dribbble"></i></a> -->
            </div>
        </div>
    </div>
</section>

<!-- skills section -->
<section class="skills section" id="skills">
    <h2 class="section-title">Skills</h2>

    <div class="skils_container bd-grid">
        <div class="skills_box">
            <h3 class="skills_subtitle">Development</h3>
            <span class="skills_name">Html</span>
            <span class="skills_name">Css</span>
            <span class="skills_name">Bootstrap</span>
            <span class="skills_name">Javascript</span>
            <span class="skills_name">Python flask</span>
            <span class="skills_name">Vue</span>

            <h3 class="skills_subtitle">Design</h3>
            <span class="skills_name">Photoshop</span>
            <span class="skills_name">Illustrator</span>
            <span class="skills_name">Figma</span>
        </div>

        <div class="skills_img">
            <img src="../static/images/arnel-hasanovic-MNd-Rka1o0Q-unsplash.jpg" alt="">
        </div>
    </div>
</section>
<!-- portfolio -->
<section class="portfolio section" id="portfolio">
    <h2 class="section-title">Portfolio</h2>

    <h3 class="section-title-1">Graphic Designs</h3>
    <div class="portfolio_container bd-grid">
        <div class="portfolio_img">
            <img src="../static/images/newlola2-01.jpg" alt="">

            <!-- <div class="portfolio_link">
                <a href="#" class="portfolio_link-name">View details</a>
                <p>its just me wink wink</p>
            </div> -->
        </div>
        <div class="portfolio_img">
            <img src="../static/images/THIRD-01-01.jpg" alt="">

            <!-- <div class="portfolio_link">
                <a href="#" class="portfolio_link-name">View details</a>
                <p>its just me wink wink</p>
            </div> -->
        </div>
        <div class="portfolio_img">
            <img src="../static/images/dreamz outfitz.jpg" alt="">

            <!-- <div class="portfolio_link">
                <a href="#" class="portfolio_link-name">View details</a>
                <p>its just me wink wink</p>
            </div> -->
        </div>
        <div class="portfolio_img">
            <img src="../static/images/fortune-01.jpg" alt="">

            <!-- <div class="portfolio_link">
                <a href="#" class="portfolio_link-name">View details</a>
                <p>its just me wink wink</p>
            </div> -->
        </div>
        <div class="portfolio_img">
            <img src="../static/images/sunnet-01.jpg" alt="">

            <!-- <div class="portfolio_link">
                <a href="#" class="portfolio_link-name">View details</a>
                <p>its just me wink wink</p>
            </div> -->
        </div>
        <div class="portfolio_img">
            <img src="../static/images/new-latest-one-01.jpg" alt="">

            <!-- <div class="portfolio_link">
                <a href="#" class="portfolio_link-name">View details</a>
                <p>its just me wink wink</p>
            </div> -->
        </div>
    </div>

    <h3 class="section-title">Web Templates</h3>
    <div class="portfolio_container bd-grid">
        <div class="portfolio_img">
                <img src="../static/images/Screenshot from 2021-03-02 13-01-56.png" alt="">

            <div class="portfolio_link">
                <a href="http://rubysplace.herokuapp.com/" class="portfolio_link-name">View Website</a>
                <!-- <br><br>
                <p>Click me to see website</p> -->
            </div>
        </div>
        <div class="portfolio_img">
            <img src="../static/images/Screenshot from 2021-03-02 13-03-00.png" alt="">

            <div class="portfolio_link">
                <a href="https://dimkpamotors.droppages.com/" class="portfolio_link-name">View Website</a>
                <!-- <p>Click me to see website</p> -->
            </div>
        </div>
        <div class="portfolio_img">
            <img src="../static/images/Screenshot from 2021-03-02 13-07-16.png" alt="">

            <div class="portfolio_link">
                <a href="https://ritasresume.herokuapp.com/" class="portfolio_link-name">View Website</a>
                <!-- <p>Click me to see website</p> -->
            </div>
        </div>
    </div>

</section>
<!-- contact -->
<section class="contact section" id="contact">
    <h2 class="section-title">Contact</h2>

    <div class="contact_container bd-grid">
        <div class="contact_info">
            <h3 class="contact_subtitle">EMAIL</h3>
            <span class="contact_text">augustineritalondon@gmail.com</span>

            <h3 class="contact_subtitle">PHONE</h3>
            <span class="contact_text">+234 906 7598 578</span>

            <h3 class="contact_subtitle">ADDRESS</h3>
            <span class="contact_text">13 Oba Goriola, Iba, Ojo, Lagos, Nigeria.</span>
        </div>

        <form action="" class="contact_form">
            <div class="contact_inputs">
                <input type="text" placeholder="Name" class="contact_input">
                <input type="text" placeholder="Email" class="contact_input">
            </div>

            <textarea name="" id="" cols="0" rows="10" class="contact_input"></textarea>

            <input type="submit" value="Submit" class="contact_button">
        </form>
    </div>
</section>
{% endblock content %}